@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --bg--principal: #383838;
    --bg--secundaria: #EE633C;
    --cor--text: #ffffff;
    --cor--texto--secundario: #B3B3B3;
}
.logo{
    height: 100px;
}
.login{
    background-color: #EE633C;
    width: 120px;
    height: 35px;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
}
body{
    background-color: var(--bg--principal);
    color: var(--cor--text);
    font-family: Onest;
}

Header{ 
Background-color: var(--bg-principal); 
Width: 100%; 
Height: 100px; 
Display: flex; 
Flex-direction: row; 
Align-items: center; 
Justify-content: space-between; 
}
Nav{ 
Display: flex; 
Align-items: center; 
}
A{
Color: var(--texto-principal); 
Padding: 30px; 
Text-transform: uppercase; 
Font-weight: bold; 
}
Header img{ 
Width: 100px; 
Margin-left: 30px; 
}
Header nav a img{ 
Width: 60px; 
Margin-left: 20px; 
} 
.img-banner{
    width: 100%;
}
h3{
    width: 100%;
    height: 30%;
    color: var(--cor--text);
    display: flex;
    justify-content: center;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 36px;
}
.aluno_retangulo{
    margin: -45px auto;
    border-radius: 40px;
    color: #09090B;
    font-weight: bolder;
}
.cadastro{
    background-color: #383838;
    width: 100%;
    height: 825px;
}
h4{
    text-align: center;
    font-size: 30px;
}
.botao_cadastro{
    background-color: #EE633C;
    align-items: center;
}
.botao_cadastro{
    background-color: #EE633C;
    color: white;
    width: 230px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -165px auto;
}
.cadastro_fundo{
    background-color:#B3B3B3;
    width: 800px;
    height: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    border-radius: 40px;
}
.fundo_2{
    height: 100%;
    width: 100%;
    background-image: url(../img/TREINOS\ E\ EXERCÍCIOS\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao_biblioteca{
    background-color: #EE633C;
    color: white;
    width: 530px;
    height: 95px;
    border: none;
    border-radius: 40px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
footer{

    display: flex;

    flex-direction: row;

    height: 120px;

    width: 100%;

    background-color: #383838;

    font-size: 18;

    justify-content: space-between;

}

footer p{

    margin-top: 30px;

    max-width: 25%;

    color: white;

    font-family: Onest, sans-serif;

}